{% extends '@Fix/Client/client.html.twig' %}
{% block content %}

    <div class="ftco-section bg-light">
    <div class="col-md-12 col-lg-8 mb-5">
    <h6> modifier annonce</h6>

{{ form_start(form) }}

{{ form_end(form) }}
{% endblock content %}